@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  --user-background-color: #31394d;
  --provider-background-color: #4d3131;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
  overflow: hidden;
}
.topbar {
  color: white;
  transition-duration: 0.5s;
  background-color: var(--user-background-color);
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 15px;
  text-align: center;
  user-select: none;
}

.topbar span {
  font-size: 24pt;
  padding-bottom: 0.4rem;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newgigbtn {
  transition: 0.3s;
  position: absolute;
  right: 49%;
  bottom: 10%;
  padding: 0px 12px 4px;
  border: none;
  border-radius: 45%;
  background-color: #cf8383;
  color: whitesmoke;
  font-size: xx-large;
  z-index: 4;
  box-shadow: 2px 2px 5px #4733474f;
}
.newgigbtn:hover {
  transform: translateY(-5px);
  background-color: #b37478;
}

.putgigbtn {
  transition: 0.3s;
  color: white;
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: #cf8383;
  width: 75%;
}
.putgigbtn:hover {
  transform: translateY(-5px);
  background-color: #b37478;
}

.patchgigbtn {
  transition: 100ms;
  border: none;
  padding: 7px;
  background-color: rgb(253, 253, 106);
  border-radius: 5px 0 0 5px;
}
.patchgigbtn:hover {
  background-color: rgb(255, 255, 182);
}
.patchgigbtn:active {
  background-color: rgb(215, 215, 45);
  transform: translateY(4px);
}
.delgigbtn {
  transition: 100ms;
  color: white;
  border: none;
  padding: 7px;
  background-color: rgb(164, 64, 64);
  border-radius: 0 5px 5px 0;
}
.delgigbtn:hover {
  background-color: rgb(196, 75, 75);
}
.delgigbtn:active {
  background-color: rgb(120, 47, 47);
  transform: translateY(4px);
}
.giglist {
  background-color: rgb(206, 208, 236);
  height: 95vh;
  z-index: 2;

  overflow-y: scroll;
  scrollbar-width: thin;
}
.gigdisplay {
  background-color: rgb(178, 193, 136);
  height: 95vh;
  z-index: 2;
}

.gigcanvas {
  background-color: rgb(193, 166, 136);
  height: 95vh;
  z-index: 2;
}

.entry {
  z-index: 3;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 3px 5px 3px 5px;
  padding: 10px;
  max-height: 120px;
  overflow: hidden;
  box-shadow: 2px 2px 5px #4733474f;
  cursor: pointer;
}
.entry img {
  margin: 0;
  width: 120px;
  object-fit: contain;
}

.useris {
  background-color: rgb(246, 250, 255);
}
.transparentwhite {
  background-color: rgba(255, 255, 255, 0.757);
}
.description {
  font-size: small;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detail img {
  height: 270px;
  width: 270px;
  object-fit: cover;
}

.detail textarea,
.detail input {
  border: none;
  margin: 2px;
  padding: 3px;
  border-radius: 2px;
}

.detail :read-only {
  outline: none;
}

.sorter {
  position: relative;
  padding: 2px 12px 8px;
  border-radius: 50%;
  rotate: -90deg;
  font-size: x-large;
  left: -40px;
  top: 80vh;
  border: none;
  background-color: #d2dbe3;
}
.sorter:hover {
  background-color: #becdf0;
}
.linkbtn {
  margin: 2px 5px;
  color: white;
  border: none;
  padding: 5px 10px;
  background-color: rgb(48, 94, 151);
  border-radius: 5px;
  font-weight: 600;
}
.linkbtn:disabled {
  opacity: 65%;
}
.authorbio {
  margin: 1rem 0.45rem 0.3rem;
  text-align: start;
  justify-content: start;
  align-items: start;
  background-color: aliceblue;
  width: 100%;
  padding: 4px;
  border: solid grey;
}
.authorbio p {
  margin: 0.5rem;
}
.interest {
  margin: 0.3rem 0.45rem;
  text-align: center;
  justify-content: space-between;
  align-items: end;
  background-color: rgb(254, 251, 222);
  width: 100%;
  padding: 4px;
  border: solid grey;
}

.interestbtn {
  border: none;
  padding: 5px 20px;
  background-color: rgb(241, 243, 131);
  border-radius: 15px;
  font-weight: 600;
}

.subscribe {
  margin: 0.3rem 0.45rem;
  justify-content: space-between;
  align-items: end;
  text-align: center;
  background-color: rgb(221, 255, 211);
  width: 100%;
  padding: 4px;
  border: solid grey;
}

.clickable {
  cursor: pointer;
}
.subscribebtn {
  border: none;
  padding: 5px 20px;
  background-color: rgb(131, 243, 148);
  border-radius: 15px;
  font-weight: 600;
}
.login {
  transition-duration: 0.5;
  transition-timing-function: ease-out;
  color: aliceblue;
  background-color: #57617b;
}
.profileimg {
  height: 50px;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 50%;
}

.providerbg {
  background-color: var(--provider-background-color);
}
.providerlogbg {
  transition: all;
  background-color: #835252;
}

.putgigbtn {
  color: white;
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: #cf8383;
}

/* ================================= GigDetails =========================================*/
.seeMoreButton {
  float: right;
  border: none;
  padding: 5px 20px;
  background-color: rgb(178, 211, 241);
  border-radius: 15px;
  font-weight: 600;
}
