@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  --user-background-color: #31394d;
  --provider-background-color: #4d3131;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}
.topbar {
  color: white;
  background-color: var(--user-background-color);
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 15px;
}

.topbar p {
  font-size: 24pt;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventlist {
  background-color: rgb(206, 208, 236);
  height: 90vh;
  z-index: -1;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.eventdisplay {
  background-color: rgb(178, 193, 136);
  height: 90vh;
  z-index: -1;
}
.entry {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 3px 5px 3px 5px;
  padding: 10px;
  max-height: 138px;
  overflow: hidden;
  box-shadow: 2px 2px 5px #4733474f;
}
.entry img {
  height: 120px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.login {
  transition-duration: 0.5;
  transition-timing-function: ease-out;
  color: aliceblue;
  background-color: #57617b;
}
.profileimg {
  height: 50px;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 50%;
}

.providerbg {
  transition: all;
  background-color: #835252;
}
