.logininput {
  border: none;
  border-radius: 10px;
  padding: 2px 5px;
  width: 100%;
}

.loginbutton {
  margin: 1rem;
  border: none;
  border-radius: 5px;
  padding: 10px 17px;
  background-color: rgb(158, 158, 218);
}

.prov {
  background-color: rgb(195, 107, 107);
}
.reg {
  background-color: rgb(167, 227, 207);
}
